
.btn {
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    padding: 10px 12px 9px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: box-shadow .2s ease, border-radius .2s ease, border-radius .2s ease, background-color .2s ease, color .2s ease
}

.btn i {
    padding-right: 4px
}

.btn:focus {
    outline: none
}

.btn:active {
    box-shadow: none !important
}

.btn + .btn {
    margin-left: 16px
}

@media only screen and (max-width: 479px) {
    .btn + .btn {
        display: block;
        margin-left: 0;
        margin-top: 16px
    }
}

.btn.primary {
    background: linear-gradient(90deg, #fba342, #fbc241);
    box-shadow: 0 20px 4px -18px rgba(251, 163, 66, .32);
    color: #fff
}

.btn.primary:hover:not(.disabled) {
    background: linear-gradient(90deg, #fba342, #fba342);
    box-shadow: 0 24px 12px -19px rgba(251, 163, 66, .56)
}

.btn.primary.normal {
    box-shadow: 0 12px 4px -10px rgba(251, 163, 66, .4)
}

.btn.primary.normal:hover:not(.disabled) {
    box-shadow: 0 14px 10px -10px rgba(251, 163, 66, .56)
}

.btn.primary.small {
    box-shadow: 0 4px 12px 0 rgba(251, 163, 66, .4)
}

.btn.primary.small:hover:not(.disabled) {
    box-shadow: 0 6px 16px 0 rgba(251, 163, 66, .56)
}

.btn.primary.dark {
    background: #fba342;
    box-shadow: none;
    color: #fff
}

.btn.primary.dark:hover:not(.disabled) {
    background: linear-gradient(90deg, #fba342, #fba342);
    box-shadow: none
}

.btn.secondary {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(35, 35, 35, .16);
    color: #3a3939
}

.btn.secondary:hover:not(.disabled) {
    box-shadow: 0 4px 12px 0 rgba(35, 35, 35, .16)
}

.btn.secondary.disabled {
    box-shadow: inset 0 0 0 1px #eee
}

.btn.outline {
    background: 0 0
}

.btn.outline:hover:not(.disabled) {
    background: #fff
}

.btn.outline.primary {
    box-shadow: inset 0 0 0 1px #fba342 !important;
    color: #fba342
}

.btn.outline.primary:active, .btn.outline.primary:hover {
    background: #fba342;
    box-shadow: inset 0 0 0 1px #fba342 !important;
    color: #fff
}

.btn.outline.secondary.dark {
    border: 1px solid #fff;
    box-shadow: none;
    color: #fff
}

.btn.outline.success {
    background: 0 0;
    color: #68b641
}

.btn.outline.success, .btn.outline.success:active, .btn.outline.success:hover:not(.disabled) {
    box-shadow: inset 0 0 0 1px #68b641 !important
}

.btn.outline.danger {
    background: #fff;
    color: #e92424
}

.btn.outline.danger, .btn.outline.danger:active, .btn.outline.danger:hover:not(.disabled) {
    box-shadow: inset 0 0 0 1px #e92424 !important
}

.btn.outline.dark {
    background: 0 0;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .25) !important;
    color: hsla(0, 0%, 100%, .5);
    font-size: 11px;
    text-transform: none
}

.btn.outline.dark:active, .btn.outline.dark:hover:not(.disabled) {
    background: 0 0;
    box-shadow: inset 0 0 0 1px #fff !important;
    color: #fff
}

.btn.outline.normal {
    padding-left: 14px;
    padding-right: 14px
}

.btn.danger {
    background: #e92424;
    box-shadow: none !important
}

.btn.danger:hover:not(.disabled) {
    background: #e92424;
    box-shadow: 0 18px 12px -14px rgba(233, 36, 36, .4) !important
}

.btn.success {
    background: #68b641;
    box-shadow: none !important
}

.btn.success:hover:not(.disabled) {
    background: #68b641;
    box-shadow: 0 18px 12px -14px rgba(104, 182, 65, .4) !important
}

.btn.disabled {
    box-shadow: none;
    cursor: not-allowed;
    filter: grayscale(100%);
    opacity: .4
}

.btn.large {
    padding: 28px 15px 27px
}

.btn.large, .btn.medium {
    font-size: 14px;
    letter-spacing: 1px
}

.btn.medium {
    padding: 20px 15px 19px
}

.btn.normal {
    font-size: 12px;
    letter-spacing: .5px;
    padding: 13px 24px 12px
}

.btn.small {
    font-size: 10px;
    letter-spacing: .4px;
    padding: 6px 23px
}

.btn.fluid {
    width: 100%
}

.btn.loading {
    border-radius: 100%;
    color: transparent;
    flex: initial;
    font-size: 0;
    position: relative
}

.btn.loading, .btn.loading:hover {
    box-shadow: none
}

.btn.loading:after {
    background: url(/my/media/2d880a6a3879e8d81e6a.svg) no-repeat;
    background-size: 35px 35px;
    color: #fff;
    content: " ";
    display: block;
    height: 35px;
    left: calc(50% - 17.5px);
    overflow: visible;
    position: absolute;
    top: calc(50% - 17.5px);
    width: 35px
}

.btn.loading.normal {
    height: 40px;
    padding: 0;
    width: 40px
}

.btn.loading.medium {
    height: 56px;
    width: 56px
}

.btn.loading.large {
    height: 72px;
    width: 72px
}

.btnGroup, a.btn {
    display: inline-block
}

.btnGroup {
    background: #eee;
    border-radius: 4px;
    font-size: 0
}

.btnGroup .btn + .btn {
    margin-left: 0
}

.btnGroup .unselected {
    background: #eee;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #959595
}

.btnGroup .unselected:hover {
    box-shadow: none !important
}

.btnGroup .unselected + .unselected {
    border-radius: 0
}

.btnGroup .selected {
    box-shadow: 0 4px 12px 0 rgba(35, 35, 35, .16);
    color: #fba342
}

.btnGroup .selected ~ .unselected:last-child {
    border-radius: 0 4px 4px 0
}

.btnGroup .selected span {
    border-bottom: 2px solid #fba342;
    padding-bottom: 10px
}