


.mobileMarketSelector {
    border-bottom: 2px solid #eee;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap
}

.themeDark .mobileMarketSelector {
    border-bottom: 2px solid #40494f
}

.mobileMarketSelector .btn {
    background: 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #959595;
    display: inline-block;
    font-size: 12px;
    margin-left: 0;
    margin-right: 24px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: 2px
}

@media only screen and (max-width: 479px) {
    .mobileMarketSelector .btn {
        font-size: 11px
    }
}

@media only screen and (max-width: 320px) {
    .mobileMarketSelector .btn {
        font-size: 10px;
        margin-right: 16px
    }
}

.mobileMarketSelector .btn:hover {
    background: 0 0;
    box-shadow: none !important
}

.mobileMarketSelector .btn.selected {
    border-bottom: 2px solid #fba342;
    color: #fba342
}


.ordersFilter {
    margin: 12px 16px
}

.ordersFilter div.radio {
    margin-bottom: 12px
}

.algoDropdown {
    cursor: pointer;
    display: inline-block
}

