.modalBg {
    -webkit-overflow-scrolling: touch;
    background: rgba(58, 57, 57, .8);
    bottom: 0;
    display: block;
    font-size: 14px;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .2s ease-in;
    visibility: hidden;
    z-index: 105
}

.themeDark .modalBg {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(1, 13, 21, .8)
}

.modalBg.show {
    opacity: 1;
    visibility: visible
}